*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: black;
}

.inicio {
    margin: 4px;
    padding: 4px;
    background-color: rgb(248, 228, 240);
    border: solid 1px black;
}

.logo{
    display: flex;
    justify-content: center;
}

.titulo{
    font-family:  'Luckiest Guy', cursive;
    font-style: normal;
    position: relative;
    margin-top: 40px;
    z-index: 2;
    font-size: 85px;
}

.link{
    list-style-type: none;
    display: flex;
    justify-content: space-around;    
    font-size: 30px;
    font-style: normal;
    margin-top: 2px;
    padding: 10px;
}

.subtitulo{
    font-size: 50px;
    text-align:center;
    background-color: #E7FBBE;
}

.section_index{
    margin: 4px;
    padding: 4px;
    border: solid 2px #E7FBBE; 
    background-image: url("../images/dog_12.jpg");
    background-position:repeat;
    background-size: 450px;
}

.dog_inicio{
    border: solid 3px;
    border-color:white;
    border-style: double;
}

.imagen_index{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.section_servicio, .section_galeria, .section_nosotros, .section_contacto{
    margin: 4px;
    padding: 4px;
    border: solid 2px #E7FBBE; 
}

.intro{
    list-style-type: none;
    font-size: 30px;
    text-align: center;
    background-color: #E7FBBE;
}

.articulos{
      background-color: #E7FBBE;
      list-style-type: none;
      padding: 15px;
      font-size: 25px
}

.imagenes_servicio, .imagenes_nosotros{  
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
}

.imagen_dog_servicio{
    padding: 5px;
    width: 20%;
}

.imagenes_galeria{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    padding: 20px;
}

.dogs_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.imagenes_nosotros{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer{
    margin: 4px;
    padding: 4px;
    background-color: violet;
    text-align: center;
    color: whitesmoke;
    border: solid 1px black;
    font-size: 18px;
    font-style: normal;
}

.contacto{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.contacto_redes{
    padding-left: 35px;
}